@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #0E1116;
    --secondary-color: #ffffff;
    --tertiary-color: #be6633;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width:100%;
    height: auto;
}

h1, h2, h3 {
    padding: 1em 0;
}

p {
    padding: 1em 0;
    line-height: normal;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 0.8em;
    font-weight: 700;
    text-decoration: none;
    margin: .5em 0;
    padding: 1em 2em;
    border: 1px solid var(--tertiary-color);
    transition: color,background 200ms ease;
}

.btn:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

/* Navbar */

#menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 30px;
    display: none;
}

ul.main-menu-hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    top: 70px;
    transform: translateY(-1000px);
    transition: transform 250ms ease;
    z-index: 10;
}

ul.main-menu-hidden.show {
    transform: translateY(0px);
}

.main-menu-hidden li {
    width: 80%;
    padding: 10px 0;
    margin-top: 20px;
    border-bottom: 1px solid;
}

.main-menu-hidden a:hover{
    color: var(--tertiary-color);
}

.sign-in {
    position: absolute;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px 10px;
    display: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.nav-bar {
    /* position: fixed;
    background: var(--primary-color);
    top: 0;
    left: 0;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 20px 0;

}

.logo {
    padding: 0 20px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li{
    padding: 0 20px;
}

.nav-bar ul i:hover{
    color: var(--tertiary-color);
    transition: color 200ms ease;
}

.search-box {
    width: 500px;
}

input[type=text] {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 18px;
}

.search-box input[type=text]:focus{
    border: 3px solid var(--tertiary-color)
}

.search-box button {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 15px;
    margin-left: 5px;
}

/*  Header Showcase  */

#showcase {
    position: relative;
    overflow: hidden;
    color: var(--secondary-color);
    min-height: 450px;
    /* background: var(--primary-color);
    color: var(--tertiary-color); */
}

.slide {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0;
    transition: opacity 400ms ease-in-out ;
}

.slide.current {
    opacity: 0.3;
}

/* Slider Background */

.slide:nth-child(1) {
    background: url(slide1.jpg) no-repeat center center/cover;
}

.slide:nth-child(2) {
    background: url(slide2.jpg) no-repeat center center/cover;
}

.slide:nth-child(3) {
    background: url(slide3.jpg) no-repeat center center/cover;
}

.slide:nth-child(4) {
    background: url(slide4.jpg) no-repeat center center/cover;
}

/* Slider Background End*/

.heading {
    padding: 50px;
}

#showcase .content-wrap {
    width: 100%;
    position: absolute;
    padding: 0 1.5em;
}

/* Top products */

#top-products {
    width: 100%;
}

.top-products .item-1{
    width: 100%;
    height: 400px;
    /* background: url(https://images.unsplash.com/photo-1579586337278-3befd40fd17a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80); */
    background: url("chai.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top-products .item-2{
    width: 100%;
    height: 400px;
    background: url("spices.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top-products .content {
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
}

.item-1 .content{
    width: 100%;
    height: 400px;
    background: linear-gradient( to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4),rgba(0, 0, 0,0));
}

.item-2 .content{
    width: 100%;
    height: 400px;
    background: linear-gradient( to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0));
}


/* Categories */

#categories-main {
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    width: 100%;
}

.categories .item-card{
    width: 100%;
    height: 100%;
    color: #4d3319;
}

.categories .catg-1,.catg-2,.catg-3,.catg-4 {
    background-image:url("parchment-sq.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 20px 20px;
}

.categories img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
}

/* Parallax Area*/

#parallax-area {
    width:100%;
    color: var(--primary-color);
    background: var(--secondary-color);
}

#parallax-area .grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-content > div {
    height: 400px;
    /* box-shadow: inset 0 0 10px; */
}

.grid-content .content-wrap {
    margin-top: 50px;
    padding: 0 40px;
}

.grid-content .content-wrap h2 {
    padding: 10px;
}

.grid-content .box-1 {
    order: 1;
    background: url("signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.grid-content .box-2 {
    order: 2;
    box-shadow: inset 0 0 20px;
    background-image: url("old-brown-paper-texture-image-900x741.jpg");
}

.grid-content .box-3 {
    order: 4;
    background: url("signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-content .box-4 {
    order: 3;
    box-shadow: inset 0 0 20px;
    background-image: url("old-brown-paper-texture-image-900x741.jpg");
}

.grid-content .box-5 {
    order: 5;
    background: url("signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-content .box-6 {
    order: 6;
    box-shadow: inset 0 0 20px;
    background-image: url("old-brown-paper-texture-image-900x741.jpg");
}

/* Footer About */

#about {
    width: 100%;
    background: var(--primary-color);
    color: var(--secondary-color);
    min-height: 400px;
}

.footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-main .content-left {
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
    width: 60%;  
}

.footer-main .content-right {
    text-align: right;
    margin-top: 50px;
    margin-right: 100px;
    border-left: 1px solid;
}

.footer-main .content-right i{
    margin-top: 40px;
    margin-left: 20px;
    transition: color 200ms ease;
}

.footer-main .content-right .fa-shopify{
    color: var(--tertiary-color)
}

.footer-main .content-right .fb-icon:hover{
    color: #4578e6;
}

.footer-main .content-right .twt-icon:hover{
    color: #00c3ff;
}

.footer-main .content-right .link-icon:hover{
    color: #0566d4;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
/* @media (min-width:320px)  { 
     
} */


/* big landscape tablets, laptops, and desktops */ 
@media(max-width:925px) {

    /* Categories */

    .categories {
        grid-template-columns: 1fr 1fr;
    }

    /* Parallax Area */

    #parallax-area .grid-content {
        grid-template-columns: 1fr;
    }
    
    .grid-content > div {
        min-height: 350px;
        /* box-shadow: inset 0 0 10px; */
    }
    
    .grid-content .content-wrap {
        margin-top: 35px;
        padding: 0 40px;
    }

    .grid-content .box-1 {
        order: 1;
    }
    
    .grid-content .box-2 {
        order: 2;
    }
    
    .grid-content .box-3 {
        order: 3;
    }
    
    .grid-content .box-4 {
        order: 4;
    }
    
    .grid-content .box-5 {
        order: 5;
    }
    
    .grid-content .box-6 {
        order: 6;
    }

    /* Footer */

    .footer-main {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .footer-main .content-left {
        text-align: center;
        width: 80%;
        margin: 50px auto;
        padding-bottom: 30px;
        border-bottom: 1px solid;
    }
    
    .footer-main .content-right {
        text-align: center;
        margin: 40px auto;
        border-left: 0;
    }

    .footer-main .content-right i{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media(max-width:500px)  { 
    #menu-btn, .sign-in {
        display: block;
    }
    
    #menu-btn:hover,.sign-in:hover {
        color: var(--tertiary-color);
    }

    .nav-bar ul {
        display: none;
    }

    .nav-bar {
        justify-content: center;
    }

    /* .main-menu-hidden {
        display: flex;
        top: 70px;
    } */

    .categories {  
        grid-template-columns: 1fr;
    }

    input[type=text] {
        width: 300px;
        margin-left: 10px;
    }
}

.navicon{
    height: 60px;
    width: 60px;
    display: inline-block;
  margin: 25px 10px;
}

@font-face {
  font-family: indian_calligraphy;
  src: url(SAMARN__.ttf);
}

.heading{
    font-family: indian_calligraphy;
    font-size: 65px;
}
.firstp{
    line-height: 0.5;
}

.aboutlogo {
    height: 250px ;
    width: 250px;
    display: inline-block;
}

