body {
    margin: 0;
    padding: 0;
    background-image: url(./signup.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signup-section {
    width: 400px;
    background-color: lightpink;
    padding: 20px;
    text-align: center;
    margin: 8% auto 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    border-radius: 55px 5px 55px 5px;
}

.signup-section h1 {
    color: white;
    font-size: 30px;
}

.input-box {
    border-radius: 20px 5px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

button {
    color: lightpink;
    background: white;
    width: 50%;
    padding: 10px;
    border-radius: 20px 5px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

p {
    color: white;
}

a {
    text-decoration: none;
}