body {
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: indian_calligraphy;
  src: url(SAMARN__.ttf);
}

.signup-section {
    width: 400px;
    background-image: url("old-brown-paper-texture-image-900x741.jpg");
    padding: 20px;
    text-align: center;
    margin: 30px auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    border-radius: 55px 5px 55px 5px;
}

.signup-section h1 {
    color: #4d3319;
    font-size: 50px;
    font-family: indian_calligraphy;
}

.account-type {
    color: #4d3319;
    font-weight: bold;
}

.input-box {
    border-radius: 20px 5px !important;
    padding: 10px !important;
    margin: 10px 0 !important;
    width: 90% ;
    border: 1px solid #999 !important;
    outline: none !important;
}

button {
    color: #be6633;
    background: #4d3319;
    width: 50%;
    padding: 10px;
    border-radius: 20px 5px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: indian_calligraphy;
    font-weight: bold;
    cursor: pointer;
}

#logo {
    width: 60px;
}

p {
    color: #4d3319;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-family: indian_calligraphy;
    font-size: 20px;
    font-weight: bold;
}

